## coronavirus covid-19

In [119]:
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interactive

## Download official data

In [120]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
urllib.request.urlretrieve(url, './corona_data.csv')

('./corona_data.csv', <http.client.HTTPMessage at 0x7fdec87ac610>)

## csv to pandas DataFrame

In [121]:
df = pd.read_csv("./corona_data.csv")
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,53,59,70,75,82,114,147,177,212,272
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,581,639,639,701,773,839,825,878,889,924
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,160,178,178,200,212,226,243,266,313,345
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,129,149,149,197,238,428,566,673,790,900

## get only the information you want

In [122]:
df=df.drop(['Lat','Long','Province/State'], axis=1)
df=df.set_index('Country/Region')

In [123]:
countries = ['Italy', 'Spain', 'India', 'Bangladesh','Iran']
data = df.loc[countries,: ]
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Italy,0,0,0,0,0,0,0,0,0,2,...,10149,12462,12462,17660,21157,24747,27980,31506,35713,41035
Spain,0,0,0,0,0,0,0,0,0,0,...,1695,2277,2277,5232,6391,7798,9942,11748,13910,17963
India,0,0,0,0,0,0,0,0,1,1,...,56,62,73,82,102,113,119,142,156,194
Bangladesh,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,5,8,10,14,17
Iran,0,0,0,0,0,0,0,0,0,0,...,8042,9000,10075,11364,12729,13938,14991,16169,17361,18407

In [124]:
data['3/19/20'].max

<bound method Series.max of Country/Region
Italy         41035
Spain         17963
India           194
Bangladesh       17
Iran          18407
Name: 3/19/20, dtype: int64>


## Synchronize data according to the data of first confirmed case in ecach county

In [125]:
(data == 0).sum(axis=1) # days

Country/Region
Italy          9
Spain         10
India          8
Bangladesh    46
Iran          28
dtype: int64

In [126]:
(data == 10).sum(axis=1)

Country/Region
Italy         0
Spain         0
India         0
Bangladesh    1
Iran          0
dtype: int64

In [127]:
Italy = data.iloc[0,9:].reset_index(drop=True)
Germany = data.iloc[1,6:].reset_index(drop=True)
Spain = data.iloc[2,10:].reset_index(drop=True)
Bangladesh = data.iloc[3,35:].reset_index(drop=True)

In [128]:
def func(days=0):
    plt.figure(figsize=(10,8))
    Bangladesh.plot(label='Bangladesh')
    Spain[:len(Bangladesh)+days].plot(label='Spain')
    Italy[:len(Bangladesh)+days].plot(label='Italy')
    Germany[:len(Bangladesh)+days].plot(label='Germany')
    plt.grid()
    plt.legend()
    plt.title('Number of Covid-19 Cases since the First Confirmed Case')
    plt.xlabel('Number of days since first confirmed case in each country')
    plt.ylabel('Number of Confirmed Cases')
    plt.show()

In [131]:

interactive_plot = interactive(func, days=(0, len(Germany)))
interactive_plot

interactive(children=(IntSlider(value=0, description='days', max=52), Output()), _dom_classes=('widget-interacâ€¦

## Visualize corona cases in Bangladesh

In [132]:
def bangladesh(days=0):
    plt.figure(figsize=(10,8))
    Bangladesh.plot(label='Bangladesh')
    plt.grid()
    plt.legend()
    plt.title('Number of Covid-19 Cases since the First Confirmed Case')
    plt.xlabel('Number of days since first confirmed case in each country')
    plt.ylabel('Number of Confirmed Cases')
    plt.show()

In [135]:
interactive_plot = interactive(bangladesh, days=(0, len(Bangladesh)))
interactive_plot

interactive(children=(IntSlider(value=0, description='days', max=23), Output()), _dom_classes=('widget-interacâ€¦